body { background: url(/media/gfx/bg_dot.gif); margin:0px; padding:0px; font-family:Arial,sans-serif; font-size:16px; }

.body { border:0px solid black; width:746px; margin:0px auto 50px auto; background-color:#FFFFFF; }
.header { border:0px solid red; height: 68px; }
.footer { padding:10px 0px; font-size:11px; color:black; text-align:center; }

.article { width:460px; float:right; margin-top:20px; margin-right:85px; border:0px solid red; position:relative; }
.article.fullpage { width:700px; margin-right:20px; border:0px solid red; }
.article.fullpagenarrow { width:600px; margin-right:120px; border:0px solid red; }
.article.fullpage .narrow { width:600px; margin:0 50px; border:0px solid red; }
.article li.bullet { list-style-image : url("/sitewide/images/im_bullet.gif"); }
.article li.bullet a { color:black; font-weight:bold; text-decoration:none; }
.article li.bullet a:hover { color:#F03; }
.article li.nobullet { list-style:none; }
.article ul.toc li { margin:15px 0px; }
.article a { text-decoration:none; color:black; }
.article a:hover { color: #ff0033; }
.article a[name]:hover { color: inherit; }
.article h1 { color:#C06; font-weight:bold; font-size:1.1em; margin:0px 0px 5px 0px; padding-bottom:5px; border-bottom:1px solid #999; }
.article h2 { color:#666; font-weight:normal; font-size:0.8em; margin:0px; font-variant:small-caps; }
.article h3 { color:#666; font-weight:normal; font-size:0.8em; margin:0px; font-variant:small-caps; }
.article p { }
.article p.description { font-size:0.8em; color:#666; font-style:italic; visibility:hidden; position:absolute; }
.article p.column_description { font-size:0.8em; color:#666; }
.article pre { font-size:inherit; font-family:inherit; }
.article .bio { margin-top:40px; border-top:1px solid #999; }

/*toc_cover_thumb is the old style for the toc cover and soldout tag*/
.article .toc_cover_thumb { position: absolute; left:-155px; top: 10px; border:0px none; }

/*toc_cover_thumb_n is the new style for just the cover thumb*/
.article .toc_cover { position: absolute; left: -201px; top: 10px; border: 0px none; width: 192px; }
.article .toc_cover_thumb_n { width: 100px; margin-left: auto; margin-right: auto; }
.article .toc_sold-out { margin: 4px 0 0; }
.article .toc_sold-out p { font-size: 0.75em; margin: 4px 0; text-align: center; }
.article .toc_sold-out p#toc_sold-out_1 { margin-top: 4px; }
.article .toc_sold-out div#toc_sold-out_2 { margin: 10px 0 0 46px; }
.article .toc_sold-out div#toc_sold-out_2  p { text-align: left; }
.article .toc_sold-out div#toc_sold-out_2  p#toc_sold-out_free { font-size: .7em; margin-top: -4px; width: 120px; }

.article .cajole { margin-top:75px; font-style:italic; font-size:.9em; }
.article .cajole a { text-decoration:underline; }
.article .issueblurb { layout:inline; float:left; border:0px solid purple; text-align:center; margin:5px; font-size:0.75em; width:130px; height:230px; }
.article .issueblurb a { color:black; text-decoration:none; }
.article .issueblurb a img { border:0px; }
.article .hangindent { margin-left:10px; text-indent:-10px; }
.article .hangindent_large { margin-left:25px; text-indent:-25px; }
.article .soldout { text-decoration:none; color:blue; }
.article .soldout a { text-decoration:none; color:blue; }
.article .soldout a:hover { color: #ff0033; }
.article .notsoldout { text-decoration:none; color:green; }
.article .notsoldout a { text-decoration:none; color:green; }
.article .notsoldout a:hover { color: #ff0033; }
.article .shippingnotes { color:#f00d83; }
.article .footnote strong { margin-right:5px; }

/*new sidebar style*/

.article .sidebar { width:172px; background-color:#DDD; padding:1px 5px 1px 6px; position:absolute; left:-201px; font-size:10.5px; line-height:1.3; margin-top:175px; }
.article .sidebar.top { margin-top:0; }
.article .sidebar p { margin:9px 0px; }
.article .sidebar a { text-decoration:underline; }
.article .sidebar img { margin:9px 0px; }

/*old sidebar style*/

#articleText .sidebar { width:172px; background-color:#DDD; padding:1px 5px 1px 6px; position:absolute; left:-201px; font-size:10.5px; line-height:1.3; margin-top:175px; }
#articleText .sidebar.top { margin-top:0; }
#articleText .sidebar p { margin:9px 0px; }
#articleText .sidebar a { text-decoration:underline; }
#articleText .sidebar img { margin:9px 0px; }

#articleText { position:relative; }
#articleText { color: #222; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 9pt; line-height:14pt; text-decoration:none; }
#articleText p { margin:14pt 0pt; }
a#articleText { text-decoration:none; }
a#articleText:hover { color: #ff0033; }
a[name]#articleText:hover { color: inherit; }

#articleText p.related_img_cap { margin-bottom: 28pt; }
#articleText img.related_img { margin-top:10px; }
#articleText .related_cap { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #666; display:block; }
#articleText .related_cap a { color: #666; }
#articleText .related_cap a:hover { color: #ff0033; }

#articleText .uc { text-transform: uppercase; font-weight: bold; display: block; }

/*styles related to audio box squib for events*/
#articleText .audio_box { }
#articleText hr.audio_box { }
#articleText .audio_box .audio_extra_text { font-size: .9em; }

/*legacy related image style*/
.article .caption { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #666; }
.article .caption p { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #666; }
.article .caption a { color: #666; }
.article .caption a:hover { color: #ff0033; }
.article .caption img { margin-top:10px; }

/*legacy footnote style*/
.article .footnote { display:block; margin-top:30px; font-size:0.9em; line-height:1.3; }
.article .footnote strong { font-weight:bold; margin-right:5px; }

.article ol.citations { margin-top:30px; padding-left:0px; list-style-position:inside; font-size:0.9em; line-height:1.3; }
.article ol.citations { counter-reset: item }
.article ol.citations li { display: block; }
.article ol.citations li:before { content: counter(item) "  "; counter-increment: item; font-weight: bold; margin-right:5px; }

.article.contributor ul  { border:0px solid red; padding-left:20px; }
.article.contributor li { border:0px solid red; margin-left:0px; margin-bottom:15px; }
.article.contributor li a { color:black; font-weight:bold; text-decoration:none; }
.article.contributor li a:hover { color:#F03; }
.article.contributor li.nobullet { color:black; font-weight:bold; text-decoration:none; }
.article.contributor li .description { color:black; font-size:1em; font-weight:normal; }
.article.contributor li .description a { color:#6E6E6E; font-weight:normal; }
.article.contributor li .description a:hover { color:#F03; }
.article.contributor .blob { border:0px solid pink; height:35px; width:100%; line-height:1; float:left; }

.column-1 { width:33%; background: url(/media/gfx/cab_logo_bar_cutout_2.gif) top left no-repeat #7E7869; color:white; font-family: Verdana; font-size:10px; padding-top:10px; vertical-align:top; }
.column-2 { width:33%; vertical-align:top; padding:0px 2px 5px 4px; border:0px solid red; }
.column-3 { width:33%; vertical-align:top; padding:0px 4px 5px 2px; border:0px solid red; }
.column-2-3-header { vertical-align:top; padding: 0px 4px 4px 4px; }
.column-2-3-header td { vertical-align:top; background-color:#FFF; }
.column-2-3-header .cover_thumb { margin:0px 10px 0px 0px; padding:0px; border:0px; width:150px; }

.column-1 .container { border:1px dotted white; margin:10px 4px 0px; padding:5px 4px; }
.column-1 .container h1 { font-size:1.1em; color:#FFF; margin-top:0px; }
.column-1 .cover_thumb { float:left; margin:0px 5px 5px 0px; border:0px; }
.column-1 .current_issue { min-height:150px; line-height: 1.4em; }
.column-1 .current_issue h2 { font-size:0.8em; font-weight:normal; margin:0px;}
.column-1 .current_issue p { margin:0px; } 
.column-1 .container.outofsite a { font-weight: bold; display:block; margin-top:10px;}
.column-1 .container a { font-weight:normal; color:#fff; text-decoration:none; }
.column-1 .container a.highlight { font-weight:normal; color:yellow; text-decoration:none; }
.column-1 .container a:hover, .column-1 .container a.highlight:hover { color:#68ff66; }
.column-1 > p { margin:5px; font-weight:bold; }
.column-1 p.small { font-family: Verdana; font-size: 9px; color: rgb(226, 226, 226); font-weight:normal; margin-bottom:0px; }
.column-1 .container.exhibitions a:link { font-weight:normal; }

.column-2 .container,
.column-3 .container { background-color:#EFEFEF; vertical-align:top; margin:0px 0px 5px 0px; padding:5px; }
.column-3 .container p.more,
.column-2 .container p.more { margin-top:20px; }
.column-2 .container p.more a,
.column-3 .container p.more a { font-size:10px; color:#666; }
.column-2 img,
.column-3 img { border:0px; }
.column-2 h1,
.column-3 h1 { margin:5px 0px 0px 0px; }
.column-2 h1 a,
.column-3 h1 a { font-family:Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#cc0066; text-decoration:none; }
.column-2 h2,
.column-3 h2 { color:#666666; font-family: Verdana,Arial,sans-serif; font-size: 9pt;font-variant: small-caps; font-weight:normal; margin:0px 0px 3px 0px; }
.column-2 p,
.column-3 p { font-family: Verdana, Helvetica, Verdana, Arial, sans-serif; font-size:10px; text-decoration:none; }
.homepage_story_image { width:245px; height:245px; margin:0px; }

/*new calendar style*/

.column-1 #calendar_full { display:none; }
.column-1 #calendar_mini { width:100%; font-size:1.0em; color:white; text-align:center; }
.column-1 #calendar_mini a:active,
.column-1 #calendar_mini a:hover,
.column-1 #calendar_mini a:visited,
.column-1 #calendar_mini a:link { color:yellow; text-decoration:none; }

#articleText #calendar_mini { display: none; }

#articleText #calendar_full { 
	width:100%;
	font-size:1.0em;
	color:black; 
	text-align:center; 
}

#articleText .cal_full_header {
text-align: left;
}

#articleText .cal_full_header h1 {
        color: #777;
        border: none;
        margin: 0 0 2px;
        padding: 0;
        font-size: 1.4em;
        font-weight: normal;
}

.month_clicker { font-variant: small-caps; color: #555; }
.month_clicker a { font-variant: small-caps; color: #555; }
.month_clicker a:hover { color: #F03; }

#articleText .cal_full_header_days div {
	font-size: 1.1em;
	font-weight: normal;
	text-align: right;
	line-height: .8em;
	padding-right: 7px;
        color: #777;
        float: left;
        display: inline;
        width: 93px;
        margin: 12px 0px 4px;
}

#articleText #calendar_full .day {
	height:325px;
	background:#ccc;
        vertical-align: top;
        border-top: none;
        border-bottom: none;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        position: relative;
        float: left;
        width: 98px;
        display: inline;
        margin-bottom: 8px;
}

#articleText #calendar_full .empty.day {
	background:#F0F0F0;
}

#articleText #calendar_full .day.today {
	background:#DCEDFF;
}

#articleText #calendar_full .items {
	float:left;
	position:relative;
	text-align:left;
	font-size:.9em;
	margin: 0 2px;
	line-height: 1.3em;
        position: absolute;
}

#articleText #calendar_full .event {
	top: 110px;
        width: 94px;
}

#articleText #calendar_full .exh {
	top: 30px;
        width: 94px;
}

#articleText #calendar_full .date {
	position:relative;
	float:right;
	top:5px;
	left:-7px;
	font-size: 1em;
	color: #444;
}

#articleText #calendar_full .e_time {
	display: block;
	font-weight: bold;
        font-size: .9em;
}

#articleText #calendar_full .e_loc {
	display: block;
        font-size: .9em;
}

#articleText #calendar_full a.e_title:active,
#articleText #calendar_full a.e_title:hover,
#articleText #calendar_full a.e_title:visited,
#articleText #calendar_full a.e_title:link { color:#330099; text-decoration:none; font-weight:normal; }

#articleText #calendar_full hr.clear {
clear: both;
display: block;
visibility: hidden;
}

/*legacy calendar style*/

.column-1 .container #calendar .calendar { width:100%; font-size:1.0em; color:white; text-align:center; }
.column-1 .container #calendar .calendar a:active,
.column-1 .container #calendar .calendar a:hover,
.column-1 .container #calendar .calendar a:visited,
.column-1 .container #calendar .calendar a:link { color:yellow; text-decoration:none; }

/*legacy top nav menu style see /sitewide/nav_style.css for new version*/

#menu0 { Z-INDEX: 4; LEFT: 5px; VISIBILITY: hidden; POSITION: absolute; TOP: 53px;}
#menu1 { Z-INDEX: 4; LEFT: 5px; VISIBILITY: hidden; POSITION: absolute; TOP: 53px;}
#menu2 { Z-INDEX: 4; LEFT: 5px; VISIBILITY: hidden; POSITION: absolute; TOP: 53px;}
#menu3 { Z-INDEX: 4; LEFT: 5px; VISIBILITY: hidden; POSITION: absolute; TOP: 53px;}
#menu4 { Z-INDEX: 4; LEFT: 5px; VISIBILITY: hidden; POSITION: absolute; TOP: 53px;}
#menu5 { Z-INDEX: 4; LEFT: 5px; VISIBILITY: hidden; POSITION: absolute; TOP: 53px;}
#menu6 { Z-INDEX: 4; LEFT: 5px; VISIBILITY: hidden; POSITION: absolute; TOP: 53px;}
.menu { color: black; font-family: Arial, sans-serif; font-size: 8pt; text-decoration:none; line-height:12pt; font-weight:bold; }
.menuClass { color: black; font-family: Arial, sans-serif; font-size: 8pt; text-decoration:none; line-height:12pt; font-weight:bold; padding:5px; width:240px; background-color:#ffffff; border-right:1px #cccccc Solid; border-left:1px #cccccc Solid; border-bottom:1px #cccccc Solid; }	
a.menu:hover { color: #ff0033; color: #cc0066; text-decoration:underline; font-weight:bold; }