@font-face {
	font-family: "Linux Libertine";
	src: local("☺"),
	url("font/LinLibertine_R.woff") format("woff"),
	url("font/LinLibertine_R.otf") format("opentype"),
	url("font/LinLibertine_R.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Linux Libertine Italic";
	src: local("☺"),
	url("font/LinLibertine_RI.woff") format("woff"),
	url("font/LinLibertine_RI.otf") format("opentype"),
	url("font/LinLibertine_RI.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Linux Libertine Bold";
	src: local("☺"),
	url("font/LinLibertine_RB.woff") format("woff"),
	url("font/LinLibertine_RB.otf") format("opentype"),
	url("font/LinLibertine_RB.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}



h2 { font-family: "Linux Libertine", Georgia, serif; }
h2 em { font-family: "Linux Libertine Italic", Georgia, serif; }
em { font-style: italic; }

body { 
	font-family: "Linux Libertine", Georgia, serif; 
	margin: 10px 20% 10px 20%;
	width: 600px;
}

.LinLibertineTI-tosf-t-1x-x-120 {
	font-family: "Linux Libertine Italic", Georgia, serif;
}

.LinLibertineTB-tosf-t-1x-x-120 {
	font-family: "Linux Libertine Bold", Georgia, serif;
}

.ec-inconsolata-x-x-108 {
	font-family: monospace;
}

p {
	font-size: 1em;
	line-height: 1.25em;
	text-align: justify;
}

.thebibliography p {
	text-align: left;
}